/* Styles the Post Card pattern */

.post-card {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 5vh auto;
    padding-bottom: 5vh;
    border: 1px solid black;

}

.photo-placeholder {
    width: 100%;
    height: 300px;
    background-color: grey;
}

.caption {
    font-size: 10px;
    font-weight: 400;
}

.date {
    font-size: 12px;
}

.excerpt {
    font-size: 16px;
}