/* Styles the Post Card pattern */

.post-card {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 5vh auto;
    padding-bottom: 5vh;
    border: 1px solid var(--color-dark);
    border-radius: 12px 12px 0 0;
    background-color: #fff;
}

figure {
    width: 100%;
    margin: 0 auto 16px;
    text-align: center;
}

figure img {
    width: 100%;
    text-align: center;
    border-top: 1px var(--color-light);
    border-radius: 12px 12px 0 0;
}

.featured-image {
    width: 100%;
}

.featured-image img {
    width: 100%;
}

.caption {
    font-size: 10px;
    font-weight: 400;
}

.date {
    font-size: 12px;
}

.title h3 {
    text-align: center;
}

.excerpt p {
    font-size: 22px;
    line-height: 1.5;
    padding: 0em 1em 0em 1em;
}