@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500;700&display=swap');
h2 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
}

.header h1 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-weight: 700;
    font-size: 4em;
    margin-bottom: 0;
    color: var(--color-light)
}

.header p {
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 1.6em;
    font-weight: 500;
    color: var(--color-light)
}

h3 {
    font-size: 1.6em;
    line-height: 1.2em;
}

.read-more {
    margin-top: 1em;
}

a.button {
    background-color: black;
    color: var(--color-light);
    font-size: 1.4em;
    border: 1px solid var(--color-dark);
    padding: 0.5em 1em;
    border-radius: 30px;
    margin: 2em .5em;
    text-decoration: none;
}