.menu ul {
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    padding: 16px;
    color: var(--color-light);
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    border-right: 1px solid var(--color-light);
    border-width: 80%;
}

.menu li:first-of-type {
    border-left: 1px solid var(--color-light);
}

.menu li:hover {
    color: #333;
    background-color: var(--color-light);
}

li.linky a {
    color: var(--color-light);
    padding: 1em 2em;
    text-decoration: none;
}

li.linky>a:hover {
    color: #333;
}

li.linky>a:active {
    color: #939F5C !important;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto auto;
    padding: 1rem 0;
    background-color: #000;
}