/* Must import at least 3 files */

@import url(fonts.css);
@import url(card.css);
@import url(navbar.css);

/* Set up Color Vars */

:root {
    --color-light: #F7F0F5;
    --color-dark: #36454F;
    --color-red: #C42021;
    --color-green: #939F5C;
}

/* Set up CSS Grid */

/* Desktop - Viewport > 900 */

@media (min-width: 901px) {

    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto auto auto auto;
        gap: 10px 10px;
        grid-template-areas: "header header header header header header" "main main main main sidebar sidebar" "main main main main sidebar sidebar" "footer footer footer footer footer footer";
    }

    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--color-dark);
        width: 100%;
        align-items: center;
    }

    .header {
        width: 100%;
    }

    .site-id {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    main {
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 5px 5px;
        background-color: var(--color-light);
    }

    .main-title {
        grid-column: 1 / 4;
        grid-row: 1 / 1;
    }

    .main-content {
        grid-column: 1 / 4;
        grid-row: 2 / 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        background-color: var(--color-dark);
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--color-dark);
    }
    /* Blog Page */

    .blog-wrapper {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Sharing Stuff */

    .share-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .share {
        display: flex;
        flex-direction: row;
        background-color: var(--color-red);
        width: 50%;
        padding: 1em;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        margin: 2em;
    }

    .share-buttons {
        margin: auto;
    }

    ul.share-buttons {
        list-style: none;
        padding: 0;
    }

    ul.share-buttons li {
        display: inline;
    }

    ul.share-buttons .sr-only {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    ul.share-buttons li img {
        width: 32px;
        height: 32px;
    }

    /* Signup */

    .signup {
        background-color: var(--color-red);
        text-align: center;
        padding: 20px 0;
    }

    /* Form */

    .form {
        text-align: center;
        margin: auto;
    }

    .submit {
        margin: 1em 0 2em 0;
    }
}

/* Tablet - 600 > Viewport > 901 */

@media only screen 
  and (min-device-width: 600px) 
  and (max-device-width: 900) 
  and (-webkit-min-device-pixel-ratio: 1) {

    /* Sharing Stuff */

    .share-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .share {
        display: flex;
        flex-direction: row;
        background-color: var(--color-red);
        width: 90%;
        padding: 1em;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        margin: 2em;
    }

    .share-buttons {
        margin: auto;
    }

    ul.share-buttons {
        list-style: none;
        padding: 0;
    }

    ul.share-buttons li {
        display: inline;
    }

    ul.share-buttons .sr-only {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    ul.share-buttons li img {
        width: 32px;
        height: 32px;
    }

    /* Signup */

    .signup {
        background-color: var(--color-red);
        text-align: center;
    }

    /* Form */

    .form {
        text-align: center;
        margin: auto;
    }

    .submit {
        margin: 1em 0 2em 0;
    }

}

/* Mobile - Viewport < 600 */

@media only screen and (max-device-width: 599px) {
  
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto auto;
        gap: 10px 10px;
        grid-template-areas: "header" "main" "sidebar" "footer";
    }

    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: var(--color-dark);
        width: 100%;
        align-items: center;
    }

    .header {
        width: 100%;
    }

    .site-id {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    main {
        display: grid;
        grid-area: main;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 5px 5px;
        background-color: var(--color-light);
    }

    .main-title {
        grid-column: 1 / 4;
        grid-row: 1 / 1;
    }

    .main-content {
        grid-column: 1 / 4;
        grid-row: 2 / 2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        background-color: var(--color-dark);
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: var(--color-dark);
    }

    /* Blog Page */

    .blog-wrapper {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* Sharing Stuff */

    .share-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: auto;
    }

    .share {
        display: flex;
        flex-direction: row;
        background-color: var(--color-red);
        width: 90%;
        padding: 1em;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        margin: 2em;
    }

    .share-buttons {
        margin: auto;
    }

    ul.share-buttons {
        list-style: none;
        padding: 0;
    }

    ul.share-buttons li {
        display: inline;
        margin: auto;
    }

    ul.share-buttons .sr-only {
        position: absolute;
        clip: rect(1px 1px 1px 1px);
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    ul.share-buttons li img {
        width: 48px;
        height: 48px;
        margin-right: 24px;
    }

    /* Signup */

    .signup {
        background-color: var(--color-red);
        text-align: center;
    }

    .signup h3 {
        font-size: 2em;
    }
    .signup p {
        font-size: 1.6em;
    }

    /* Form */

    .form {
        text-align: center;
        margin: auto;
    }

    .submit {
        margin: 1em 0 2em 0;
    }  

}