/* Must import at least 3 files */
@import url(fonts.css);
@import url(card.css);
@import url(navbar.css);

/* Set up Color Vars */
:root {
    --color-light: #F7F0F5;
    --color-dark: #36454F;
    --color-red: #C42021;
    --color-green: #939F5C;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto 100px;
    gap: 10px 10px;
    grid-template-areas: "header header header header header header" "main main main main sidebar sidebar" "main main main main sidebar sidebar" "footer footer footer footer footer footer";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    width: 100%;
    align-items: center;
}

.site-id {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px 5px;
    background-color: var(--color-light);
}

.main-title {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    border: solid 2px gray;
}

.main-content {
    grid-column: 1 / 4;
    grid-row: 2 / 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

.signup {
    background-color: var(--color-red);
    text-align: center;
}

.form {
    text-align: center;
    margin:auto;
}

.submit {
    margin: 1em 0 2em 0;

}

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark);
}